@import "main.css";

header {
    text-align: center;
    font-family: "Slackey", cursive;
    color: var(--main-blue);
    padding: 20px 0;
    position: relative;
    display: block;
}

header img {
    width: 64px;
}

h1 {
    font-size: 48px;
    margin: 8px;
}

main {
    border: #CBCBCB 1px solid;
    border-radius: 5px;
    box-shadow: #CFCFCF 0 1px 10px 0;
    margin: auto;
    width: 42%;
    padding: 32px;
}

input {
    border-bottom: var(--main-blue) 1px solid;
}

input:focus {
    border-bottom: var(--main-blue) 2px solid;
}

form div {
    margin-top: 24px;
}

form label {
    color: #919191;
    font-size: 12px;
    font-weight: bold;
}

form button {
    background: var(--main-white);
    border: 1px solid var(--main-blue);
    border-radius: 4px;
    width: 48%;
}

form button:nth-of-type(2) {
    float: right;
}

form button:hover {
    cursor: pointer;
    background-color: var(--main-blue);
    color: white;
}

form button:focus {
    color: white;
    background-color: var(--main-blue);
}
