<<<<<<< HEAD
@import "main.css";

body {
    margin: 0;
    padding: 0;
}

header {
    color: var(--main-yellow);
}

main {
    position: relative;
    padding: 110px 0 0;
    height: calc(100vh - 110px);
    width: 100%;
}

.hdr-btn {
    color: white;
}

.wrapper {
    background: var(--main-blue);
}

.card-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: inherit;
    margin: auto;
    width: 520px;
}

.card {
    height: 540px;
    background: white;
}

=======

.grid {
    margin: 0 264px;
}

.grid-sizer, .grid-item { width: 32.8%; }

.grid-item {
    float: left;
    margin-bottom: 5px;
}

.grid-item img {
    display: block;
    max-width: 100%;
    min-width: 100%;
}

.grid-item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,0.8);
    opacity: 0;
}

.grid-item-overlay:hover {
    opacity: 1;
}
>>>>>>> 71dedb34781438145d4c42974cf64ced9f863a05
