@import "main.css";

body {
    margin: 0 0 26px 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    padding: 26px 0;
    z-index: 1000;
    background-color: var(--main-white);
}

header h1 {
    margin: 0 auto;
}

header div {
    position: absolute;
    right: var(--right-left-padding);
    margin-top: 8px;
}

main {
    padding-top: 94px;
}

main aside {
    min-height: calc(100vh - 94px);
}

main aside h2 {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--main-white);
    height: 26px;
}

input[type="search"] {
    width: 244px;
}

#tags-container{
    position: fixed;
    left: 0;
    width: var(--aside-width);
    text-align: center;
    margin: 0 12px;
}

#memes-container {
    margin: 0 var(--aside-width);
    width: 100%;
}

#filters-container {
    position: fixed;
    top: 94px;
    right: 0;
    width: var(--aside-width);
    text-align: center;
    margin: 0 var(--right-left-padding);
}

#profile-btn {
    right: 78px;
    bottom: 26px;
    background: var(--main-red);
}

#discover-btn {
    right: 64px;
    bottom: 76px;
    background: var(--main-yellow);
}

#create-btn {
    right: var(--right-left-padding);
    bottom: 90px;
    background: var(--main-blue);
}

.floating-btn {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: var(--main-grey) 1px 1px 10px;
}

.floating-btn:hover {
    transform: scale(1.08);
    cursor: pointer;
}

.tag {
    background: var(--main-yellow);
    color: white;
    padding: 4px;
    margin: 8px 0;
    border-radius: 2px;
    box-shadow: #AAA 1px 1px 4px;
    font-size: 14px;
}

.tag:hover {
    background: var(--main-grey);
    transform: scale(1.02);
    cursor: pointer;
}

.grid {
    margin: 4px 268px;
}

.grid-sizer, .grid-item {
    width: 32.8%;
}

.grid-item {
    float: left;
    margin-bottom: 4px;
}

.grid-item img {
    display: block;
    max-width: 100%;
    min-width: 100%;
}

.grid-item-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(150,150,150,0.8);
    opacity: 0;
}

.grid-item-overlay:hover {
    opacity: 1;
}


