:root {
    --main-blue: #2E4756;
    --main-red: #D33E43;
    --main-yellow: #D89A0A;
    --main-green: #1A936F;
    --main-white: #FFF;
    --main-grey: #CBCBCB;
    --secondary-grey: #DFDFDF;
    --right-left-padding: 42px;
    --aside-width: 244px;
    --header-height: 58px;
}

body, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: var(--main-blue);
}

header {
    text-align: center;
    font-family: "Slackey", cursive;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 26px 0;
    z-index: 1000;
}

header h1 {
    margin: 0 auto;
}

input {
    width: 100%;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid var(--main-grey);
    padding-top: 10px;
    font-size: 14px;
    color: var(--main-blue);
}

input:focus {
    outline: none;
    border-bottom: 2px solid var(--main-blue);
}

hr {
    margin-top: 4px;
    border: var(--main-grey) solid 0.5px;
}

.hdr-btn {
    font-size: 24px;
    cursor: pointer;
    margin: 12px var(--right-left-padding);
}
